<template>
	<v-app>
		<!-- <v-container fluid> -->
			<v-layout column style="background:#FFFFFF">
				<!-- <v-flex xs12 style="background:#223F6D">
					<div class="pt-1">
						<v-layout row>
							<v-flex xs2></v-flex>
							<v-flex xs5>
								<img class="mr-1 hdrImg" src="public/facebook_icon.png" href="https://www.facebook.com/andre.messi.399041" />
								<img class="mr-1 hdrImg" src="public/Twitter_icon.png" href="https://twitter.com/AndreAp919778" />
								<img class="mr-1 hdrImg" src="public/Youtube_icon.png" href="https://www.youtube.com/channel/UC4U5E_pBZNB6sGF0kzn9o4w?view_as=subscriber" />
							</v-flex>
						</v-layout>
					</div>
				</v-flex> -->
				<!-- <v-flex xs12>
					<v-layout row class="ma-3">
						<v-flex xs2></v-flex>
						<v-flex class="text-xs-right">
							<v-btn flat style="mergin:6px 0;">ABOUT</v-btn>
							<v-btn flat style="mergin:6px 0;">MEMBERSHIP BENEFITS</v-btn>
							<v-btn flat style="mergin:6px 0;">RESOURCES</v-btn>
							<v-btn flat style="mergin:6px 0;">BLOG</v-btn>
							<v-btn flat style="mergin:6px 0;">CONTACT</v-btn>
							<v-btn style="background:#F1C400;color:#33260F;margin-right:0;">CLAIM FREE REPORT</v-btn>
							<v-btn style="background:#223F6D;color:#FFF;margin-left:0;">LOGIN</v-btn>
						</v-flex>
						<v-flex xs2></v-flex>
					</v-layout>
				</v-flex> -->
				<v-flex xs12 style="background:#5277AC">
					<v-layout row class="ma-3">
						<v-flex xs2></v-flex>
						<v-flex class="ma-2">
							<v-btn class="amber btncls" active="" @mouseover="hoverEvnt" :style="hoverStyle" outline dark>ALL</v-btn>
							<v-btn class="amber btncls" @hover="hoverEvnt" :style="hoverStyle" outline dark>Finance</v-btn>
							<v-btn class="amber btncls" @btn--hover="hoverEvnt" :style="hoverStyle" outline dark>Travell</v-btn>
							<v-btn class="amber btncls" outline dark>Sport</v-btn>
							<v-btn class="amber btncls" outline dark>Teknology</v-btn>
						</v-flex>
						<v-flex xs2></v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs12>
					<v-layout row class="mt-3">
						<v-flex xs2></v-flex>
						<v-flex xs10 class="text-xs-right">
							<v-breadcrumbs divider="/" style="justify-content:left;">
								<v-breadcrumbs-item v-for="item in brdCrmbsItms" :key="item.text" :disabled="item.disabled">
									<b v-if="!item.disabled" style="color:#5277AC;">
										{{ item.text }}
									</b>
									<b v-else>
										{{ item.text }}
									</b>
								</v-breadcrumbs-item>
							</v-breadcrumbs>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs12>
					<v-layout row class="mt-3">
						<v-flex xs2></v-flex>
						<v-flex xs6 class="mr-5">
							<v-card flat v-for="post in posts" :key="post.title" class="grey--text text--darken-2">
								<span style="font-size:32px;" class="mt-3">{{ post.title }}</span>
								<div class="mt-3">
									<span style="color:grey">POSTED BY </span>
									<strong>{{ post.author }}</strong>
									<span style="color:grey"> ON </span>
									<strong>{{ cnvrtDate(post.date) }}</strong>
								</div>
								<v-card-media :src="post.image" height="400px" class="mt-3"></v-card-media>
								<v-card-text style="font-size:16px;">{{ concatStr(post.description) }}</v-card-text>
								<v-card-actions class="mb-3">
									<v-btn :href="post.link" flat style="color:#5277AC;">READ MORE</v-btn>
								</v-card-actions>
							</v-card>
						</v-flex>
						<v-flex xs2 class="ml-5">
							<h4 style="color:#223E6E;">Popular Posts</h4>
							<v-card flat v-for="post in popularPost" :key="post.title">
								<v-card-media :src="post.image" height="170px" class="mt-2"></v-card-media>
								<p style="color:#5277AC;font-size:16px;" class="mt-2">{{ post.title }}</p>
								<p class="grey--text text--darken-1" style="font-size:16px;">{{ post.desc }}</p>
							</v-card>
							<h4 class="grey--text text--darken-1 mt-5">Tasks</h4>
							<v-btn outline style="color:#22426B;border-radius: 5px;" v-for="tag in tags" :key="tag">{{ tag }}</v-btn>
						</v-flex>
						<v-flex xs2></v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		<!-- </v-container> -->
	</v-app>
</template>

<script>
import moment from 'moment'
export default {
	data: () => ({
		hoverStyle: '',
		brdCrmbsItms: [
			{
				text: 'HOME',
				disabled: false
			},
			{
				text: 'News',
				disabled: true
			}
		],
		posts: [
			{
				title: 'Van Dijk Pemain Paling Penting untuk Liverpool',
				image: 'https://akcdn.detik.net.id/community/media/visual/2019/02/19/afcac4b3-647b-4cf4-8250-f5e392e03a31_169.jpeg?w=700&q=80',
				author: 'andre putra',
				date: '2019-03-14',
				description: 'Van Dijk tak tergantikan di Liverpool musim ini. Dia selalu dalam 31 laga Liverpool di Liga Inggris musim ini.',
				link: '#'
			},
			{
				title: 'Prediksi Indonesia Vs Vietnam: Tak Ada Pilihan, Garuda Muda Harus Menang',
				image: 'https://akcdn.detik.net.id/community/media/visual/2019/02/24/d9b86818-f925-4dd3-920c-3f1bc32d355f_43.jpeg?w=700&q=80',
				author: 'nurmayana',
				date: '2019-03-14',
				description: 'Timnas Indonesia akan menjalani laga penentuan di kualifikasi Piala Asia U-23. Garuda Muda harus menang melawan Vietnam untuk menjaga peluang ke putaran final.',
				link: '#'
			},
			{
				title: 'Messi Tak Nyaman di Timnas Argentina',
				image: 'https://akcdn.detik.net.id/community/media/visual/2019/03/22/c8092bf3-14e5-491b-a245-f8438ebcb960_169.jpeg?w=700&q=80',
				author: 'andre putra',
				date: '2019-03-15',
				description: 'Lionel Messi belum menunjukkan penampilan yang oke bersama timnas Argentina. La Pulga disebut tak nyaman bermain bersama Albiceleste.',
				link: '#'
			},
			{
				title: 'Microsoft Pamer Fitur Platform Cloud Gaming xCloud',
				image: 'https://akcdn.detik.net.id/community/media/visual/2019/03/21/0cdec161-91f0-4d4a-9106-9c5b0e8ac1be_169.jpeg?w=700&q=90',
				author: 'andre putra',
				date: '2019-03-16',
				description: 'Seperti tak mau kalah dari Google yang sukses mencuri perhatian di ajang Game Developer Conference (GDC) 2019 dengan memamerkan Stadia, Microsoft pun memamerkan fitur andalan layanan buatannya yang bernama xCloud. Seperti apa?',
				link: '#'
			}
		],
		popularPost: [
			{
				image: 'https://akcdn.detik.net.id/community/media/visual/2019/03/22/16d6ad18-aaf3-4e64-b6f3-6cfd623186e7.jpeg?a=1',
				title: 'Game PUBG Haram?',
				desc: 'Aksi teror pembantaian 50 jemaah salat Jumat di Selandia Baru disebut terinspirasi dari game daring PlayerUnknowns Battle Grounds (PUBG).'
			},
			{
				image: 'https://akcdn.detik.net.id/community/media/visual/2019/03/23/9756d611-b50a-4ebe-957d-193665015751.jpeg?w=700&q=80',
				title: 'Melihat Pembuatan Ikan Asap di Halmahera Selatan',
				desc: 'Pengolahan ikan fufu relatif sederhana. Ikan hanya diasapi di bawah tungku persegi empat yang besar. Asapnya yang akan mematangkan daging ikannya.'
			},
			{
				image: 'public/Blog_img2.jpg',
				title: 'What people consider themselves?',
				desc: '70% investors are "Asset Poor" - What about you?'
			},
			{
				image: 'public/Blog_img3.jpg',
				title: 'What people consider themselves?',
				desc: '70% investors are "Asset Poor" - What about you?'
			}
		],
		tags: ['Investments','Finance','Tradings','Insurance','Webinars','Financial Planning','Mutual Funds','eBooks','Memberships'],
		ftrList: [
			{
				title: 'Existing Members? Login',
				link: '#'
			},
			{
				title: 'Blogs',
				link: '#'
			},
			{
				title: 'Webinars',
				link: '#'
			},
			{
				title: 'Videos',
				link: '#'
			},
			{
				title: 'eBooks',
				link: '#'
			},
			{
				title: 'Customer Service',
				link: '#'
			}
		]
	}),
	methods: {
		hoverEvnt () {
			this.hoverStyle = 'background-color:red;'
		},
		concatStr (str) {
			return str.substring(0,300) + ' ...'
		},
		cnvrtDate (date) {
			return moment(date).utcOffset(-0, false).format('ddd, MMM Do YYYY, hh:mm A')
		}
	}
}
</script>

<style>
	.btncls {
		margin: 6px -2px;
		border-radius: 0;
		font-size:17px;
		min-width: 130px;
	}
	.btn:focus {
		background-color: #F1C400;
	}
	.fbImg {
		border-radius:50%;
		border:2px solid #C4C4C4;
		padding: 5px;
	}
	.fbImg:hover {
		opacity: 0.5;
		cursor: pointer;
	}
	.hdrImg:hover {
		opacity: 0.7;
		cursor: pointer;
	}
</style>
